/*formatções gerais*/
*{
    margin: 0;
    font-family: Nunito, sans-serif;
}

/*cabeçalho*/
header{
    height: 200px;
    background-color: aqua;
    text-align: center;
}

/*corpo*/
.dadosUsu{
    float: left;
    width:50%;
}
.contaUsu{
    float: right;
    width:30%;
}
.resposta{
    clear: both;
}
h1, h2, h3{
    font-family: Asap, sans-serif;
    color: #000000;
}

/*roda pe*/
footer p{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000000;
    color: white;
    text-align: center;
}